@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 10% 98%;
    --foreground: 164 28% 14%;

    --card: 0 0% 100%;
    --card-foreground: 164 28% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 164 28% 14%;

    --primary: 164 50% 12%;
    --primary-foreground: 60 10% 98%;

    --secondary: 164 33% 93%;
    --secondary-foreground: 164 50% 12%;

    --muted: 60 10% 96%;
    --muted-foreground: 164 10% 40%;

    --accent: 164 33% 93%;
    --accent-foreground: 164 50% 12%;

    --destructive: 342 79% 50%;
    --destructive-foreground: 60 10% 98%;

    --border: 164 10% 90%;
    --input: 164 10% 90%;
    --ring: 164 50% 12%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 164 30% 10%;
    --foreground: 60 10% 98%;

    --card: 164 30% 12%;
    --card-foreground: 60 10% 98%;

    --popover: 164 30% 12%;
    --popover-foreground: 60 10% 98%;

    --primary: 164 33% 93%;
    --primary-foreground: 164 50% 12%;

    --secondary: 164 50% 15%;
    --secondary-foreground: 60 10% 98%;

    --muted: 164 30% 15%;
    --muted-foreground: 164 10% 70%;

    --accent: 164 50% 15%;
    --accent-foreground: 60 10% 98%;

    --destructive: 342 79% 50%;
    --destructive-foreground: 60 10% 98%;

    --border: 164 30% 20%;
    --input: 164 30% 20%;
    --ring: 164 33% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

